@font-face {
    font-family: CascadiaCode;
    src: local("./CascadiaCode.ttf");
}
#enemyHealth {
    width: 300px;
    height: 50px;
	top: 65%;
    left: 41.5%;
    position:absolute;
    border: orange 7px solid;
    background-color: black;
    color: white;
    font-size: 25px;
}
#hp_num {
    font-family: CascadiaCode;
}
#enemyHealthBar {
    height: 25px;
    position:absolute;
    background-color: red;
}
